dash==1.13.3
dash-bootstrap-components==0.10.3
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-player==0.0.1
dash-renderer==1.5.0
dash-table==4.8.1
Flask==1.1.2
Flask-Compress==1.5.0
plotly==4.8.2
sqalchemy
psycopg2